## Sent Scrape Request / Bsoup

In [1]:
import requests
import pandas as pd

In [2]:
st_tickers = pd.read_csv('2020-04-26.csv')
st_tickers.shape

(14108, 5)

In [3]:
# st_tickers = pd.read_csv('2020-04-08.csv')
# st_tickers.shape

In [4]:
st_ticker_list = st_tickers['AAC'].to_list()

In [5]:
st_ticker_list[:100]

['AAU',
 'ABL',
 'ACU',
 'ACY',
 'ADGI',
 'ADK',
 'AE',
 'AEN',
 'AEZ',
 'AFT',
 'AGT',
 'AGX',
 'AIM',
 'HAIPF',
 'AIS',
 'AMS',
 'ANO',
 'ANV',
 'SVRA',
 'API',
 'APO',
 'APP',
 'APT',
 'APYI',
 'AQQ',
 'ATCV',
 'AWX',
 'AXK',
 'AXU',
 'AZC',
 'AZK',
 'BAA',
 'BBH',
 'BCV',
 'BDH',
 'BDL',
 'BDR',
 'BFY',
 'BHB',
 'BHH',
 'BHO',
 'BHV',
 'BKJ',
 'BKR',
 'BLD',
 'BLE',
 'BLJ',
 'BMJ',
 'BNX',
 'BPS',
 'BPZ',
 'BQI',
 'BQY',
 'BRN',
 'BTC',
 'BTI',
 'BTN',
 'APYX',
 'BWL.A',
 'BZC',
 'BZM',
 'CAW',
 'CCA',
 'CCF',
 'CDY',
 'CEF',
 'CET',
 'CEV',
 'CFK',
 'CFP',
 'CFW',
 'CGA',
 'CGL.A',
 'CGR',
 'CH',
 'CIK',
 'CKX',
 'CLM',
 'CMT',
 'CNR',
 'CNU',
 'COR',
 'CQP',
 'CRC',
 'CRF',
 'CRV',
 'CTO',
 'CUO',
 'SNCA',
 'CVF',
 'CVM',
 'CVR',
 'CVU',
 'CXM',
 'CXZ',
 'DDD',
 'DFR',
 'DHY',
 'DINI',
 'DIT']

In [ ]:
r = requests.get('https://stocktwits.com/symbol/ROKU')

In [ ]:
r.text

In [ ]:
text = r.text

In [ ]:
sentiment_word = text.find('sentimentChange')

In [ ]:
sentiment = text[sentiment_word+17:sentiment_word+22]

In [ ]:
sentiment

In [ ]:
tickers3 = ['ROKU', 'PINS', 'W']

In [ ]:
top_nsdq = ['AAOI', 'AAPL', 'ABBV', 'ABIO', 'ACAD', 'ACHV', 'ACRX', 'ACST', 'ADBE',
       'ADMP', 'ADXS', 'AEZS', 'AGRX', 'AKER', 'AMAT', 'AMBA', 'AMDA', 'AMGN',
       'AMPE', 'AMRH', 'AMRN', 'AMRS', 'AMZN', 'APRI', 'APRN', 'ARGS', 'ARRY',
       'ARWR', 'ATNM', 'ATOS', 'ATVI', 'AUPH', 'AVEO', 'AVGO', 'AVGR', 'AYTU',
       'BABA', 'BIDU', 'BIIB', 'BIOC', 'BKNG', 'BLDP', 'BLPH', 'BPMX', 'BPTH',
       'BZUN', 'CAPR', 'CARA', 'CELG', 'CHFS', 'CLSN', 'CLVS', 'CNAT', 'CODX',
       'COST', 'CPHI', 'CPRX', 'CRBP', 'CRMD', 'CRON', 'CRSP', 'CSCO', 'CYCC',
       'CYTR', 'DARE', 'DCAR', 'DFFN', 'DRYS', 'DVAX', 'DXTR', 'EARS', 'EBAY',
       'EKSO', 'ENPH', 'EROS', 'ETSY', 'EXEL', 'FCEL', 'FEYE', 'FSLR', 'GERN',
       'GEVO', 'GILD', 'GLBS', 'GLUU', 'GOOG', 'GPRO', 'GRPN', 'GSAT', 'GWPH',
       'HEAR', 'HIMX', 'HMNY', 'HTBX', 'HTGM', 'HUSA', 'IBIO', 'IDXG', 'IMNP',
       'IMUC', 'INPX', 'INSY', 'INTC', 'IRBT', 'ISRG', 'JAGX', 'JBLU', 'KNDI', 'KTOV',
       'LODE', 'LULU', 'MARA', 'MARK', 'MBOT', 'MBRX', 'MNGA', 'MNKD', 'MOMO',
       'MOSY', 'MRNA', 'MRNS', 'MSFT', 'MTBC', 'MYSZ', 'NAKD', 'NBEV', 'NEPT',
       'NETE', 'NFLX', 'NLST', 'NNVC', 'NOVN', 'NSPR', 'NTNX', 'NVAX', 'NVCN',
       'NVDA', 'NXTD', 'OGEN', 'OHGI', 'OKTA', 'ONTX', 'OPGN', 'OPTT', 'ORCL',
       'OSTK', 'PANW', 'PLUG', 'PRPO', 'PTIE', 'PULM', 'PYPL', 'QCOM', 'RGSE',
       'RIOT', 'RKDA', 'RNVA', 'ROKU', 'RSLS', 'RTTR', 'RWLK', 'SAEX', 'SBUX',
       'SCON', 'SDRL', 'SFIX', 'SGMO', 'SGYP', 'SHAK', 'SHIP', 'SHOP', 'SIRI',
       'SNAP', 'SPHS', 'SPOT', 'SPWR', 'SRNE', 'SRPT', 'SVRA', 'SWKS', 'TENX',
       'TEUM', 'TEVA', 'TMUS', 'TNDM', 'TNXP', 'TOPS', 'TROV', 'TRVN', 'TRXC',
       'TSLA', 'TTNP', 'TTOO', 'TTWO', 'TWLO', 'TWTR', 'TXMD', 'ULTA', 'VBIV',
       'VIVE', 'VKTX', 'VSTM', 'VTVT', 'VXRT', 'WATT', 'WKHS', 'WYNN', 'XGTI', 'XSPA',
       'XXII', 'YELP', 'YRIV', 'YTEN', 'YUMA', 'ZNGA', 'ZSAN', 'ZYNE']

In [6]:
def ticker_sentiment(tickers): 
    sentiment_list = []
    for ticker in tickers:
        r = requests.get(f'https://stocktwits.com/symbol/{ticker}')
        text = r.text
        sentiment_word = text.find('sentimentChange')
        sentiment = text[sentiment_word+17:sentiment_word+23]
        comma = sentiment.find(',')
        
        if comma != -1:
            sentiment = sentiment[:comma]
            print(sentiment)
            sentiment_list.append([ticker, float(sentiment)])
        else:
            sentiment_list.append([ticker, 0.0])
    return sentiment_list

In [7]:
first100 = ticker_sentiment(st_ticker_list[:100])

0
0.66
0
0
0
0.15
0
0
0
1.64
-1.96
0
0
0
0
0
0
5
0
0.12
0
0

In [8]:
first100

[['AAU', 100],
 ['ABL', 100],
 ['ACU', 100],
 ['ACY', 100],
 ['ADGI', 100],
 ['ADK', 100],
 ['AE', 100],
 ['AEN', 100],
 ['AEZ', 100],
 ['AFT', 100],
 ['AGT', 100],
 ['AGX', 0.0],
 ['AIM', 0.66],
 ['HAIPF', 100],
 ['AIS', 100],
 ['AMS', 0.0],
 ['ANO', 100],
 ['ANV', 100],
 ['SVRA', 0.0],
 ['API', 100],
 ['APO', 0.0],
 ['APP', 100],
 ['APT', 0.15],
 ['APYI', 100],
 ['AQQ', 100],
 ['ATCV', 100],
 ['AWX', 100],
 ['AXK', 100],
 ['AXU', 0.0],
 ['AZC', 100],
 ['AZK', 100],
 ['BAA', 100],
 ['BBH', 100],
 ['BCV', 100],
 ['BDH', 100],
 ['BDL', 100],
 ['BDR', 100],
 ['BFY', 100],
 ['BHB', 0.0],
 ['BHH', 100],
 ['BHO', 100],
 ['BHV', 100],
 ['BKJ', 100],
 ['BKR', 0.0],
 ['BLD', 100],
 ['BLE', 100],
 ['BLJ', 100],
 ['BMJ', 100],
 ['BNX', 100],
 ['BPS', 100],
 ['BPZ', 100],
 ['BQI', 100],
 ['BQY', 100],
 ['BRN', 1.64],
 ['BTC', -1.96],
 ['BTI', 0.0],
 ['BTN', 0.0],
 ['APYX', 100],
 ['BWL.A', 100],
 ['BZC', 100],
 ['BZM', 100],
 ['CAW', 100],
 ['CCA', 100],
 ['CCF', 100],
 ['CDY', 100],
 ['CEF', 0.0],
 ['CET', 100],
 ['CEV', 100],
 ['CFK', 100],
 ['CFP', 100],
 ['CFW', 100],
 ['CGA', 0.0],
 ['CGL.A', 100],
 ['CGR', 100],
 ['CH', 0.0],
 ['CIK', 100],
 ['CKX', 100],
 ['CLM', 0.0],
 ['CMT', 100],
 ['CNR', 100],
 ['CNU', 100],
 ['COR', 100],
 ['CQP', 100],
 ['CRC', 5.0],
 ['CRF', 100],
 ['CRV', 100],
 ['CTO', 100],
 ['CUO', 100],
 ['SNCA', 0.0],
 ['CVF', 100],
 ['CVM', 0.12],
 ['CVR', 100],
 ['CVU', 0.0],
 ['CXM', 100],
 ['CXZ', 100],
 ['DDD', 0.0],
 ['DFR', 100],
 ['DHY', 100],
 ['DINI', 100],
 ['DIT', 100]]

In [ ]:
df_sent = pd.DataFrame(first100, columns=['Ticker', 'Sentiment'])

In [ ]:
sentiment_useful = df_sent[(df_sent['Sentiment'] > 0) & (df_sent['Sentiment'] < 100)]

In [ ]:
sentiment_useful.shape

In [ ]:
# sentiment_useful.shape

In [ ]:
# sentiment_useful.shape

In [ ]:
# sentiment_useful.shape

In [ ]:
sentiment_useful.to_csv('Sentiment_stocks.csv')

In [ ]:
df_sent.to_csv('Sentiment_over_1000.csv')

### Scrape Watchers

In [ ]:
watchers = text.find('Watchers')

In [ ]:
watcherstext = text[watchers-21:watchers-14]

In [ ]:
watcherstext

## Beautiful Soup

In [11]:
from bs4 import BeautifulSoup

In [12]:
# soup = BeautifulSoup(text, 'html.parser')

NameError: name 'text' is not defined

In [13]:
def ticker_watchers(tickers): 
    watcher_list = []
    count = 0
    for ticker in tickers:
        try:
            r = requests.get(f'https://stocktwits.com/symbol/{ticker}')
            text = r.text
            soup = BeautifulSoup(text, 'html.parser')
            watchers = int(soup.find('strong').text.replace(',', ''))
            watcher_list.append([ticker, watchers])
        except:
            watcher_list.appbend([ticker, 0])
            
        if count % 100 == 0:
            print(count)
            
        count += 1
    return watcher_list

In [85]:
def follower(df, tickers):
    
#     date = dt.date.today
    time = dt.datetime.today().strftime("%m/%d/%Y %H:%M")
        
    if df.empty == False:
        watchers = ticker_watchers(tickers)

        df2 = pd.DataFrame(watchers, columns=['Ticker', 'Watchers'])

        df[time] = df2['Watchers']
        
    else:
        watchers = ticker_watchers(tickers)
        
        df = pd.DataFrame(watchers, columns=['Ticker', time])

    return df

In [86]:
# First time running code uncheck the line below.  Besides that leave it blank
df_followers = pd.DataFrame()
df_followers = follower(df_followers, st_ticker_list[:105])

0
100

In [87]:
df_followers.head()

  Ticker  04/26/2020 18:58
0    AAU               918
1    ABL                 4
2    ACU                76
3    ACY               143
4   ADGI                 3

In [80]:
df_test1

    Ticker  04/26/2020 18:46
0      AAU               918
1      ABL                 4
2      ACU                76
3      ACY               143
4     ADGI                 3
5      ADK               189
6       AE                67
7      AEN                33
8      AEZ                24
9      AFT                28
10     AGT                17
11     AGX               595
12     AIM             17557
13   HAIPF                 1
14     AIS                98
15     AMS               381
16     ANO                12
17     ANV               599
18    SVRA             22847
19     API                54
20     APO              1502
21     APP              1535
22     APT             12003
23    APYI                 6
24     AQQ                 4
25    ATCV                80
26     AWX              3125
27     AXK                 9
28     AXU              1511
29     AZC                38
..     ...               ...
75     CIK               117
76     CKX                20
77     CLM              1555
78     CMT               200
79     CNR               443
80     CNU                 8
81     COR               582
82     CQP               384
83     CRC              7076
84     CRF               901
85     CRV                13
86     CTO                91
87     CUO               165
88    SNCA             11222
89     CVF                 2
90     CVM             13261
91     CVR                42
92     CVU               405
93     CXM                47
94     CXZ                17
95     DDD             16374
96     DFR                13
97     DHY               384
98    DINI                 1
99     DIT                37
100    DLA                91
101    DSS             10717
102    DMF                22
103   DUNR                 5
104    DNN              2549

[105 rows x 2 columns]

In [68]:
df_test.head()

,Ticker,04/26/2020 18:24,04/26/2020 18:31,04/26/2020 18:32,04/26/2020 18:33
0,AAU,918,918,918,918
1,ABL,4,4,4,4
2,ACU,76,76,76,76
3,ACY,143,143,143,143
4,ADGI,3,3,3,3

In [14]:
200 % 100

0

In [88]:
# started 11:47
# Ended  
watcher_test = ticker_watchers(st_ticker_list)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100

In [22]:
# Started 6:43
# Ended 7:30 
watcher_test

[['AAU', 918],
 ['ABL', 4],
 ['ACU', 76],
 ['ACY', 143],
 ['ADGI', 3],
 ['ADK', 189],
 ['AE', 67],
 ['AEN', 33],
 ['AEZ', 24],
 ['AFT', 28],
 ['AGT', 17],
 ['AGX', 595],
 ['AIM', 17557],
 ['HAIPF', 1],
 ['AIS', 98],
 ['AMS', 381],
 ['ANO', 12],
 ['ANV', 599],
 ['SVRA', 22847],
 ['API', 54],
 ['APO', 1502],
 ['APP', 1535],
 ['APT', 12003],
 ['APYI', 6],
 ['AQQ', 4],
 ['ATCV', 80],
 ['AWX', 3125],
 ['AXK', 9],
 ['AXU', 1511],
 ['AZC', 38],
 ['AZK', 25],
 ['BAA', 4777],
 ['BBH', 293],
 ['BCV', 18],
 ['BDH', 3],
 ['BDL', 53],
 ['BDR', 2755],
 ['BFY', 9],
 ['BHB', 48],
 ['BHH', 4],
 ['BHO', 5],
 ['BHV', 8],
 ['BKJ', 13],
 ['BKR', 446],
 ['BLD', 249],
 ['BLE', 23],
 ['BLJ', 8],
 ['BMJ', 3],
 ['BNX', 12],
 ['BPS', 8],
 ['BPZ', 162],
 ['BQI', 74],
 ['BQY', 5],
 ['BRN', 1037],
 ['BTC', 412],
 ['BTI', 1753],
 ['BTN', 207],
 ['APYX', 753],
 ['BWL.A', 0],
 ['BZC', 26],
 ['BZM', 6],
 ['CAW', 145],
 ['CCA', 15],
 ['CCF', 880],
 ['CDY', 26],
 ['CEF', 356],
 ['CET', 32],
 ['CEV', 10],
 ['CFK', 2],
 ['CFP', 52],
 ['CFW', 16],
 ['CGA', 2274],
 ['CGL.A', 0],
 ['CGR', 43],
 ['CH', 30],
 ['CIK', 117],
 ['CKX', 20],
 ['CLM', 1555],
 ['CMT', 200],
 ['CNR', 443],
 ['CNU', 8],
 ['COR', 582],
 ['CQP', 384],
 ['CRC', 7074],
 ['CRF', 901],
 ['CRV', 13],
 ['CTO', 91],
 ['CUO', 165],
 ['SNCA', 11222],
 ['CVF', 2],
 ['CVM', 13261],
 ['CVR', 42],
 ['CVU', 405],
 ['CXM', 47],
 ['CXZ', 17],
 ['DDD', 16374],
 ['DFR', 13],
 ['DHY', 384],
 ['DINI', 1],
 ['DIT', 37],
 ['DLA', 91],
 ['DSS', 10717],
 ['DMF', 22],
 ['DUNR', 5],
 ['DNN', 2549]]

In [69]:
blank = pd.DataFrame()

In [75]:
blank.empty == True

True

In [76]:
df2.empty == True

False

In [46]:
import datetime as dt     
date = dt.date.today

In [54]:
time = dt.datetime.today().strftime("%m/%d/%Y %H:%M")

In [55]:
df2 = pd.DataFrame(watcher_test, columns=['Ticker', time])

In [56]:
df2.set_index(['Ticker']).head()

        04/26/2020 18:24
Ticker
AAU                  918
ABL                    4
ACU                   76
ACY                  143
ADGI                   3

In [19]:
df.head()

  Ticker  Watchers
0    AAU       918
1    ABL         4
2    ACU        76
3    ACY       143
4   ADGI         3

In [20]:
df.set_index(['Ticker'])

        Watchers
Ticker
AAU          918
ABL            4
ACU           76
ACY          143
ADGI           3
ADK          189
AE            67
AEN           33
AEZ           24
AFT           28
AGT           17
AGX          595
AIM        17557
HAIPF          1
AIS           98
AMS          381
ANO           12
ANV          599
SVRA       22847
API           54
APO         1502
APP         1535
APT        12003
APYI           6
AQQ            4
ATCV          80
AWX         3125
AXK            9
AXU         1511
AZC           38
...          ...
CIK          117
CKX           20
CLM         1555
CMT          200
CNR          443
CNU            8
COR          582
CQP          384
CRC         7074
CRF          901
CRV           13
CTO           91
CUO          165
SNCA       11222
CVF            2
CVM        13260
CVR           42
CVU          405
CXM           47
CXZ           17
DDD        16374
DFR           13
DHY          384
DINI           1
DIT           37
DLA           91
DSS        10717
DMF           22
DUNR           5
DNN         2549

[105 rows x 1 columns]

In [25]:
followers = pd.concat([df, df1], axis=1)

In [30]:
followers.head()

  Ticker_x  Watchers_x Ticker_y  Watchers_y
0      AAU         918      AAU         918
1      ABL           4      ABL           4
2      ACU          76      ACU          76
3      ACY         143      ACY         143
4     ADGI           3     ADGI           3

In [29]:
followers = pd.merge(df, df1, left_index=True, right_index=True, how='outer')

In [10]:
watchers = df[df['Watchers'] >= 1000]

In [11]:
watchers['Sentiment'] = df_sent['Sentiment']

NameError: name 'df_sent' is not defined

In [18]:
df.shape

(105, 2)

In [13]:
df.to_csv('all_watchers1.csv')

In [ ]:
watchers_1000 = watchers['Ticker'].to_list()

In [ ]:
watchers_1000

In [ ]:
soup = BeautifulSoup(text, 'html.parser')

In [ ]:
soup.find_all('div')

In [ ]:
soup.find_all(True, {'class':['st_2SbWf_d', 'st_jGV698i', 'st_2NskfLp', 'st_1jqs8hh', 'st_2-AYUR9']})

In [ ]:
st_2SbWf_d st_jGV698i st_2NskfLp st_1jqs8hh st_2-AYUR9

## Followers Analysis

In [ ]:
df = pd.read_csv('all_watchers.csv', index_col = 0)
# df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df = df.set_index(['Ticker'])

In [ ]:
df['pct_change'] =df_pct['Watchers_4_14']

In [ ]:
df.head()

In [ ]:
df_pct = df.pct_change(axis='columns')

In [ ]:
df_pct.describe()

In [ ]:
df[df['pct_change'] > .1]